@model IEnumerable<ReisViewModel>

<h2>Mijn reizen</h2><hr />
<a class="btn btn-default" style="margin-top:10px;" asp-controller="Reis" asp-action="ReisToevoegen">Reis Toevoegen</a>
<div class="flexContainerReis">
    @foreach (var reis in Model)
    {
        <a href="/Reis/Details/@reis.Id">
            <div class="flexReisContainer">
                @Html.HiddenFor(a => reis.Id)
                <p class="country">@Html.DisplayFor(a => reis.Naam)</p>
                <br />
                <meter value=@reis.ResiStatusInt min="0" max="3" high="3" low="1" optimum="3"></meter>
            </div>
        </a>
    }
</div>