@model Land

@{
    ViewData["Title"] = "LandToevoegen";
}

<h2>Land Toevoegen</h2><hr />

<form asp-action="LandToevoegen">
    <div class="form-horizontal">
        @Html.HiddenFor(a => a.ReisId)
        @Html.HiddenFor(a => a.UserId)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Land</label>
            <div class="col-md-10">
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Stad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Stad" class="form-control" />
                <span asp-validation-for="Stad" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Toevoegen" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-route-id="@Model.ReisId" asp-action="Details">Terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
