@model VerlanglijstViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Wens toevoegen</h2><hr />

<form asp-action="Aanmaken" method="post">
    @Html.HiddenFor(a => a.UserId)
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Naam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger" />
            </div>
        </div>        
        <div class="form-group">
            <label asp-for="Wens" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Wens" class="form-control" />
                <span asp-validation-for="Wens" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Omschrijving" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Omschrijving" class="form-control" />
                <span asp-validation-for="Omschrijving" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prijs" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Winkel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Winkel" class="form-control" />
                <span asp-validation-for="Winkel" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Link" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prive" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prive" class="form-control" />
                <span asp-validation-for="Prive" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <a class="btn btn-default" asp-action="Index">Terug</a> |
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>        
    </div>    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
