@model Verlanglijst

@{
    ViewData["Title"] = "Delete";
}

<h2>Weet je zeker dat je deze wens wilt verwijderen?</h2><hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>        
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id">
        <div class="form-actions no-color">
            <a class="btn btn-default" asp-action="Index">Terug</a> |
            <input type="submit" value="Verwijder" class="btn btn-danger" />
        </div>
    </form>
</div>
