@model Lijst

@{
    ViewData["Title"] = "Edit";
}

<h2>Verander de lijst naam</h2><hr />

<form asp-action="Aanpassen">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        @Html.HiddenFor(a => a.Items)
        @Html.HiddenFor(a => a.UserId)
        <div class="form-group">
            <label asp-for="Naam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Terug naar lijsten</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
