@model MySite.Models.Verlanglijstje

@{
    ViewData["Title"] = "Edit";
}

<h2>Verander wens</h2><hr />

<form asp-action="Edit">
    <div class="form-horizontal">        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />        
        <div class="form-group">
            <label asp-for="Naam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Omschrijving" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Omschrijving" class="form-control" />
                <span asp-validation-for="Omschrijving" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prijs" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Winkel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Winkel" class="form-control" />
                <span asp-validation-for="Winkel" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Link" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>        
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
