@model IndexViewModel
@{
    ViewData["Title"] = "Beheer je account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<hr />
<div>
    
    <dl class="dl-horizontal">
        <dt>Wachtwoord:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-default">wijzigen</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
    </dl>
</div>
